// Definition variables color
$bg-lightest-grey: #f6f6f6;  //Lightest Grey for bg
$bg-light-grey: #eeeeee; //Light Grey for bg

//border color
$bd-grey: #dbdbdb; //Grey for border
$bd-table-grey: #e7eaf1; // border for table

//text color
$ghosted-text-grey: #c0c0c0; //text color for input placeholder
$legal-text-grey: #808080; // text-color for Legal copy
$body-text-grey: #444444; //text color for body text
$title-text-grey: #242424; //text color for title
$light-grey: #4a4a4a; //text color for label
$bright-grey: #a9a9a9;  //text color for p
$text-paragraph-grey: #666666;


$purple: #6633cc; //bgcolor for button purple
$light-purple: #7a4ed5; //bgcolor for button hover light-purple
$dark-purple: #4f19b9; //bgcolor for button focus dark-purple
$bg-table-blue: #f1f3f9; //bgcolor for table
$bg-table-grey: #fcfcfd; //bgcolor for table

$blue: #1774bb; //Hyperlinks  and bgcolor for button purple
$light-blue: #4399db; //Hyperlinks and bgcolor for button hover light-blue
$dark-blue: #125c95; //Hyperlinks and bgcolor for button focus light-blue


$green: #99cc00; //bgcolor for selected green
$navy: #19223c; //bgcolor



$red: #CC0000; //error
$positive-green: #107a1b; //success


$white: #ffffff; //white